// Suggested location to add your overrides so that migration would be easy by just updating the SASS folder in the future
.image-upload {
    background-color: var(--surface-100);
    width: 8rem;
    height: 8rem;
    border-radius: 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.5rem;
    position: relative;
    border: 1px solid var(--surface-300);
}

.upload-profile img {
    width: calc(7.5rem);
    height: calc(7.5rem);
    border-radius: 14px;
    object-fit: cover;
}

.cancel-badge {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;

    .p-avatar {
        background-color: var(--surface-0);
        color: var(--red-500);
    }
}

.upload-badge {
    display: flex;
    justify-content: center;
    align-items: center;

    .p-avatar {
        background-color: var(--surface-0)
    }
}